[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "factorstochvol"]
	path = factorstochvol
	url = https://github.com/gregorkastner/factorstochvol
[submodule "stochvol"]
	path = stochvol
	url = https://github.com/gregorkastner/stochvol
